/*! destyle.css v2.0.2 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-tap-highlight-color: transparent;
  /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  outline: 0;
  border-radius: 0;
  text-align: inherit;
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */
[type="checkbox"] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
       appearance: checkbox;
}

[type="radio"] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
       appearance: radio;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
}

button[disabled],
[type="button"][disabled],
[type="reset"][disabled],
[type="submit"][disabled] {
  cursor: default;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Remove arrow in IE10 & IE11
 */
select::-ms-expand {
  display: none;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */
[type="search"] {
  outline-offset: -2px;
  /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable] {
  outline: none;
}

/* Table */
/* ============================================ */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

/* Misc */
/* ============================================ */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

.l-footer {
  width: 100%;
  color: #fff;
}

.l-footer__main {
  text-align: center;
  padding: 27px 0px;
  background: #141E33;
}

.l-footer__main__info__name {
  font-size: 1.4rem;
  margin-top: 10px;
}

.l-footer__main__info__address {
  font-size: 1.4rem;
  margin-top: 10px;
}

.l-footer__sub {
  color: #000;
}

.l-footer__sub small {
  color: #3C2A10;
  margin-top: 9px;
  float: right;
}

.l-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.l-content__main {
  width: 100%;
}

.l-header {
  background: #FFF7EF;
  width: 100%;
  height: 150px;
  color: #707070;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.l-header__wrap {
  width: 80%;
  margin: auto;
  text-align: center;
}

@media (min-width: 769px) {
  .l-header__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 1200px;
  }
}

.l-header__title {
  font-size: 4.0rem;
  font-weight: bold;
  background: yellow;
}

.l-header__search {
  background: yellow;
}

.l-header__search input[type="text"] {
  font-size: 2rem;
  width: 18rem;
  padding-left: 0.5rem;
  border: 1px solid #707070;
}

.l-header__search__icon {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1.5;
  text-align: left;
}

.l-header__search input[type="submit"] {
  font-size: 1.5rem;
  line-height: 3rem;
  width: 5rem;
  border: 1px solid #707070;
}

.l-aside {
  position: fixed;
  left: 100%;
  color: #707070;
  background: #F2EDE9;
  width: 20%;
}

.l-aside.is-open {
  left: 10%;
  width: 90%;
  overflow-y: scroll;
}

@media (min-width: 376px) and (max-width: 768px) {
  .l-aside.is-open {
    left: 55%;
    width: 45%;
  }
}

@media (min-width: 769px) {
  .l-aside {
    position: inherit;
  }
}

.c-banner {
  width: 95vw;
  max-width: 562px;
  margin: 44px auto;
}

@media (min-width: 600px) {
  .c-banner {
    width: 45vw;
    max-width: 535px;
  }
}

.c-button {
  display: inline-block;
  font-weight: 700;
  color: #ffffff;
  background: #FFF7EF;
  border: 1px solid #FFF7EF;
  border-radius: 4px;
  padding: 15px 23px;
}

.c-button-dark {
  font-size: 1.8rem;
  background: #2498B3;
  border: 1px solid #2498B3;
  padding: 12px 18px;
}

.c-button-top {
  padding: 24px 37px;
  line-height: 1.0;
}

.c-button-more {
  color: #000;
  background: #a2d729;
  border: 1px solid #a2d729;
  padding: 10px 20px;
}

.c-button-open {
  font-size: 2rem;
  position: fixed;
  top: 0;
  right: 0;
}

@media (min-width: 769px) {
  .c-button-open {
    position: inherit;
  }
}

.c-button-open.is-open {
  color: #F2EDE9;
}

.c-button-open.is-open::before, .c-button-open.is-open::after {
  content: "";
  width: 50px;
  height: 6px;
  background: #707070;
  position: absolute;
  left: calc( 50% - (  50px / 2 ));
  display: block;
}

.c-button-open.is-open::before {
  top: 25px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.c-button-open.is-open::after {
  top: 25px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.c-comment {
  color: #121212;
  line-height: 1.9;
}

.c-comment-service {
  color: #fff;
  width: 68vw;
  line-height: 1.7;
  font-weight: 700;
  margin: auto;
  text-align: left;
}

.c-date {
  display: block;
  font-size: 1.4rem;
  color: #3C2A10;
}

.c-icon {
  background: #ffffff;
  border-radius: 50%;
  margin: auto;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.c-icon-service {
  width: 230px;
  height: 230px;
  color: #000;
  border: 5px solid #000;
}

.c-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.c-item a {
  -webkit-transition: .3s;
  transition: .3s;
}

.c-item-footer {
  font-size: 1.4rem;
}

.c-item-footer a:hover {
  color: #2bb8d9;
}

.c-link {
  display: block;
  color: #2498B3;
  font-size: 1.6rem;
  -webkit-transition: .3s;
  transition: .3s;
}

.c-link a {
  text-decoration: underline;
}

footer {
  background: green;
}

.c-navi_toggle {
  position: relative;
  width: 50px;
  height: 50px;
  background: #fff;
}

.c-navi_toggle i {
  left: 14px;
  width: 23px;
  height: 2px;
  background-color: #2498B3;
  position: absolute;
}

.c-navi_toggle i:nth-child(1) {
  top: 15px;
}

.c-navi_toggle i:nth-child(2) {
  top: 25px;
}

.c-navi_toggle i:nth-child(3) {
  top: 35px;
}

.c-navi_toggle-close {
  background-color: #2498B3;
}

.c-navi_toggle-close i {
  background-color: #fff;
  left: 0px;
}

.c-navi_toggle-close i:nth-child(1) {
  top: 25px;
  width: 30px;
  left: 10px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.c-navi_toggle-close i:nth-child(2) {
  display: none;
}

.c-navi_toggle-close i:nth-child(3) {
  top: 25px;
  width: 30px;
  left: 10px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.c-title {
  font-size: 2.4rem;
  font-weight: 900;
}

.c-title-service {
  font-weight: 700;
  margin: 10px 0px;
}

.c-title-news {
  font-weight: 600;
  color: #fff;
  background: #2498B3;
  padding: 5px;
  text-align: center;
}

.c-title-course {
  line-height: 1.4;
}

.c-title-course_sub {
  font-size: 1.8rem;
  color: #4b4b4b;
  font-weight: 700;
}

.c-title-course_point {
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1;
  color: #2498B3;
  border: 2px solid #2498B3;
  border-radius: 5px;
}

.c-title-footer {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 16px;
}

.c-title-main {
  color: #121212;
  text-align: center;
  position: relative;
}

.c-title-main::before {
  position: absolute;
  bottom: -10px;
  left: calc(50% - 41px);
  width: 40px;
  height: 4px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  background: #2498B3;
  content: '';
}

.c-title-main::after {
  position: absolute;
  bottom: -10px;
  right: calc(50% - 41px);
  width: 40px;
  height: 4px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  background: #a2d729;
  content: '';
}

.c-title-sub {
  font-size: 2.1rem;
}

.c-wrap {
  width: 95vw;
  margin: auto;
  max-width: 1078px;
}

.c-wrap-news {
  border: 1px solid #C3C3C3;
}

.c-wrap-course {
  background: #fff;
}

.c-wrap-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 13px 0px 35px;
}

.c-wrap-footer-sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.p-course {
  width: 100vw;
  background: -webkit-gradient(linear, left top, right top, from(#f3fafb), to(#e9f8fb));
  background: linear-gradient(to right, #f3fafb 0%, #e9f8fb 100%);
}

.p-course_intro_list {
  padding-left: 40px;
}

.p-course_intro_item {
  position: relative;
}

.p-course_intro_item::before {
  position: absolute;
  top: .2em;
  left: -20px;
  content: "\f14a";
  font-weight: 400;
  font-family: "Font Awesome 5 Free";
  color: #2498B3;
}

.p-hero {
  height: 320px;
  background-image: url("../images/bg-hero3.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

.p-hero_layer1 {
  position: absolute;
  top: 0;
  background-image: url("../images/bg-hero1.png");
  width: 100%;
  height: 100%;
  background-position: center -30px;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  z-index: 100;
}

.p-hero_layer2 {
  position: absolute;
  top: 0;
  background-image: url("../images/bg-hero2.png");
  width: 100%;
  height: 100%;
  background-position: center -30px;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transition-property: background-position;
  transition-property: background-position;
  -webkit-transition-duration: .7s;
          transition-duration: .7s;
  -webkit-transition-delay: .035s;
          transition-delay: .035s;
}

.p-news {
  width: 100%;
}

.p-news_item {
  border-bottom: 1px dotted #C3C3C3;
  padding: 15px 0px;
}

.p-news_item:last-of-type {
  border-bottom: none;
}

.p-pr {
  width: 100vw;
  background: #D5F0F8;
}

.p-service {
  width: 100%;
  color: #fff;
  background: #000;
  padding: 64px 0px;
  text-align: center;
}

.p-service_box {
  margin-bottom: 40px;
}

.p-service_box:last-of-type {
  margin-bottom: 0;
}

.p-top {
  width: 100%;
  padding: 23px 0px 13px;
  text-align: center;
  background: #fff;
}

.p-top__logo {
  width: 280px;
  margin: auto;
}

.p-top__comment {
  font-size: 1.3rem;
  font-weight: 700;
  text-align: center;
}

.break::before {
  content: "\A";
  white-space: pre;
}

.u-forpc {
  display: none;
}

@media (min-width: 769px) {
  .u-forpc {
    display: block;
  }
}

.u-forwide {
  display: none;
}

.u-forwide-flex {
  display: none;
}

.u-forpc-wide {
  display: none;
}

@media (min-width: 769px) {
  .u-forpc-wide {
    display: block;
  }
}

.u-mb15 {
  margin-bottom: 15px;
}

.u-mb7 {
  margin-bottom: 7px;
}

.u-mb10 {
  margin-bottom: 10px;
}

.u-mb15 {
  margin-bottom: 15px;
}

.u-mb20 {
  margin-bottom: 20px;
}

.u-mb25 {
  margin-bottom: 25px;
}

.u-mb35 {
  margin-bottom: 35px;
}

.u-mb50 {
  margin-bottom: 50px;
}

.u-mb65 {
  margin-bottom: 65px;
}

.u-mr10 {
  margin-right: 10px;
}

.u-ml10 {
  margin-left: 10px;
}

.u-mt50 {
  margin-top: 50px;
}

.u-pd-rl8px {
  padding: 0px 8px;
}

.u-pd-rl10 {
  padding: 0px 10px;
}

.u-pd-rl20 {
  padding: 0px 20px;
}

.u-pd-t200 {
  padding-top: 200px;
}

.u-pd-tb5 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.u-pd-tb64 {
  padding-top: 64px;
  padding-bottom: 64px;
}

.u-pd-tb25 {
  padding-top: 25px;
  padding-bottom: 25px;
}

.u-pd-r18 {
  padding-right: 18px;
}

.u-pd20 {
  padding: 20px;
}

.u-pd10 {
  padding: 10px;
}
/*# sourceMappingURL=style.css.map */