.c-button {
  display: inline-block;
  font-weight: 700;
  color: #ffffff;
  background: $color-base;
  border: 1px solid $color-base;
  border-radius: 4px;
  padding: 15px 23px;
}

.c-button-dark {
  font-size: 1.8rem;
  background: $color-base_dark;
  border: 1px solid $color-base_dark;
  padding: 12px 18px;
}

.c-button-top {
  padding: 24px 37px;
  line-height: 1.0;
}

.c-button-more {
  color: #000;
  background: $color-accent;
  border: 1px solid $color-accent;
  padding: 10px 20px;
}

$btnWidth:  20px;
$btnHeight: 1px;

.c-button-close {
  width: 50px;
  height: 50px;
  background: #000;
  top: 0;
  right: 0;
  position: relative;
  &::before,
	&::after {
		content   : "";
		width     : $btnWidth;
		height    : $btnHeight;
		background: #fff;
		position  : absolute;
		left      : calc( 50% - ( #{$btnWidth} / 2 ) );
		display   : block;
		transition: transform 0.2s;
	}
	&::before {
		top: 22px;
	}
	&::after {
		top: 38px;
  }
  > span {
    font-size: 0;
  }
}