footer {
  background: green;
}

.top {
  // background: red;
  background-image: url(..//images/mainvisu.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center -10px;
  width: 100%;
  height: 280px;
}