// ページネーション自体が中央にくるように
.pager  ul.pagination {
  text-align: center;
  display: flex;
  justify-content: space-between;
  @include breakpoint ( ipad-pc ) {
    display: inherit;
  }
}

// liは原則SP版では非表示にする
.pager .pagination li{
  display: none;
  @include breakpoint ( ipad-pc ) {
    color: $color-menu;
    background:#fff;
    border: 1px solid $color-menu;
    display: inline-block;
    margin: 0 2px;
    width: 35px;
    height: 35px;
    text-align: center;
  }
}

.pager .pagination li.pre,
.pager .pagination li.next{
  color: $color-menu;
  display: inline-block;
  height: 35px;
  border: inherit;
  margin: 0 2px;
  @include breakpoint ( ipad-pc ) {
    width: 35px;
    span {
      font-size: 3rem;
      line-height: 3rem;
    }
  }
}

.pager .pagination li a{
  width: 100%;
  height: 100%;
  display:table;
}

.pager .pagination li a span{
  display:table-cell;
  vertical-align:middle;
}

.pager .pagination li a:hover,
.pager .pagination li a.active{
  color: #fff;
  background: $color-bg;
}

.pager .pagination li.pre span::after{
  content: "　前へ";
  @include breakpoint ( ipad-pc ) {
    display: none;
  }
}

.pager .pagination li.next span::before{
  content: "次へ　";
  @include breakpoint ( ipad-pc ) {
    display: none;
  }
}
