// wrapのレイヤーは非常に迷ったが、「調整のための便利クラス」であるutillityが最適と判断しました。

.c-wrap {
  width: 80%;
  margin: auto;
  max-width: 1078px;
}

.c-wrap-flexbox {
  @include breakpoint ( ipad ) {
    display: flex;
  }
  @include breakpoint ( pc ) {
    display: flex;
  }
}

.c-wrap-takeout {
  background-image: url(../images/takeout.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 650px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.c-wrap-eatin {
  background-image: url(../images/eatin.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 650px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

// .c-wrap-service {
//   @include breakpoint ( pc-wide ) {
//     display: flex;
//     justify-content: center;
//     position: relative;
//     z-index: 200;
//   }
// }

// .c-wrap-news {
//   border: 1px solid $color-border;
// }

// .c-wrap-feature {
//   @include breakpoint ( pc-wide ) {
//     display: flex;
//     justify-content: space-between;
//   }
//   &:nth-of-type(even) {
//     @include breakpoint ( pc-wide ) {
//       flex-direction: row-reverse;
//     }
//   }
// }

// .c-wrap-course {
//   background: #fff;
//   @include breakpoint ( pc-wide ) {
//     display: flex;
//     justify-content: space-between;
//   }
// }

// .c-wrap-footer {
//   display: flex;
//   text-align: left;
//   justify-content: space-between;
//   padding: 13px 0px 35px;
// }

// .c-wrap-footer-sub {
//   display: flex;
//   flex-wrap: wrap;
// }