.p-menu {
  img {
    object-fit: cover;
    width: 100%;
    @include breakpoint ( ipad-pc ) {
      width: 50%;
    }
  }
}

.p-menu__intro {
  color: #fff;
  background: $color-bg;
  h4 {
    font-size: 2rem;
  }
  p {
    width: 80%;
  }
}