.p-hero {
  display: flex;
  align-items: center;
  background-image: url(..//images/mainvisu_sp.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 270px;
  @include breakpoint ( ipad ) {
    background-image: url(..//images/mainvisu_ipad.png);
  }
  @include breakpoint ( pc ) {
    background-image: url(..//images/mainvisu_pc.png);
    height: 400px;
  }
}