.p-single {
  color: $color-text;
  blockquote, pre {
    background: #F5F5F5;
    padding: 30px 15px;
    cite {
      font-style: normal;
    }
  }
  img {
    width: 100%;
  }
  table {
    width: 100%;
    td {
      border: 1px solid #000;
      height: 80px;
      vertical-align: middle;
      padding-left: 30px;
      &:first-child {
        width: 40%;
      }
    }
  }
}

.p-single-intro {
  display: flex;
  justify-content: space-between;
  &:nth-child(even) {
    flex-direction: row-reverse;
  }
  div {
    width: 40%;
    img {
      // width: 40%;
      // padding-bottom: 61%;
      object-fit: cover;
    }
  }
  p {
    width: 50%;
  }
}

.p-single-imageList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  img {
    width: 100%;
    @include breakpoint ( ipad ) {
      width: 49%;
    }
    @include breakpoint ( pc ) {
      width: 33%;
    }
  }
}

.p-single-list {
  ol {
    list-style-type: decimal;
    list-style-position: inside;
  }
}